div(ng-if="!hasArousal()")
	h3 Arousal not modeled for this video
div(ng-if="hasArousal()")
	div.row
		div.col-lg-9
			nvd3-line-chart#arousalCurveId(
				data="arousal_curve"
				showXAxis="true"
				showYAxis="true"
				tooltips="false"
				interactive="true"
				height="400"
				yAxisTickValues="[0, 0.5, 1]"
				forcey="[0, 1]"
				xAxisTickFormat="xAxisTickFormatFunction()"
				yAxisTickFormat="yAxisTickFormatFunction()"
				xAxisLabel="Duration [s]"
				yAxisLabel="Arousal"
				showLegend="true"
				clipVoronoi="false"
				useInteractiveGuideLine="false"
				margin='{left:80,top:30,bottom:80,right:30}'
			)
				svg

		div.col-lg-3
			nvd3-multi-bar-horizontal-chart#emotionChartId(
				data="emotion_data"
				height="400"
				weight="600"
				forcey = "[0,1]"
				showLegend="false"
				xAxisTickFormat="xAxisTickFormatFunction()"
				yAxisTickFormat="yAxisTickFormatFunction()"
				legendcolor="colorFunction()"
				color="colorFunction()"
				showValues="true"
				valueFormat="valueFormatFunction()"
			)
				svg

button.btn.btn-primary(ng-model="testLights", data-toggle="collapse", data-target="#collapseTestLights", aria-expanded="false", aria-controls="collapseExample") Test lights

div#collapseTestLights.collapse
	br
	button.btn.btn-default(ng-click="changeEmotion('neutral')") Neutral
	button.btn.btn-default(ng-click="changeEmotion('anger')") Anger
	button.btn.btn-default(ng-click="changeEmotion('disgust')") Disgust
	button.btn.btn-default(ng-click="changeEmotion('fear')") Fear
	button.btn.btn-default(ng-click="changeEmotion('happiness')") Happiness
	button.btn.btn-default(ng-click="changeEmotion('sadness')") Sadness
	button.btn.btn-default(ng-click="changeEmotion('surprise')") Surprise